version: "3.9"

services:
  flask:
    build: .
    container_name: flask_api
    ports:
      - "8000:8000"
    environment:
      - REDIS_URL=rediss://default:AWZBAQIncDJmNGE4NjU5NWYwYTE0N2ZmOGQ4ZGMxNDA3Zjc2NTk1MnAyMjYxNzc@internal-sculpin-26177.upstash.io:6379
    depends_on:
      - worker
      - pot-provider

  worker:
    build: .
    container_name: celery_worker
    command: celery -A tasks worker --loglevel=info
    environment:
      - REDIS_URL=rediss://default:AWZBAQIncDJmNGE4NjU5NWYwYTE0N2ZmOGQ4ZGMxNDA3Zjc2NTk1MnAyMjYxNzc@internal-sculpin-26177.upstash.io:6379

  flower:
    build: .
    container_name: celery_flower
    command: celery -A tasks flower --port=5555 --basic_auth=user:password
    ports:
      - "5555:5555"
    environment:
      - REDIS_URL=rediss://default:AWZBAQIncDJmNGE4NjU5NWYwYTE0N2ZmOGQ4ZGMxNDA3Zjc2NTk1MnAyMjYxNzc@internal-sculpin-26177.upstash.io:6379

 
      
