faster-whisper
torch==2.2.2+cpu -f https://download.pytorch.org/whl/torch_stable.html
transformers
Flask
flask-cors
youtube-transcript-api==0.6.2
scikit-learn
requests
yt-dlp
webvtt-py
numpy
gunicorn
ffmpeg-python
sentencepiece
gunicorn==21.2.0